.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  color: white;
}
.about h4 {
  font-size: 2.4rem;
  font-weight: 600;
}
.aboutContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.aboutContainer .image img {
  height: 25rem;
}
.aboutContainer .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  font-size: 1.4rem;
}
.aboutContainer .text p {
  padding-bottom: 2rem;
}
.aboutContainer .text .skills ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutContainer .text .skills ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 9rem;
  margin: 0.3rem;
  background-color: #5821f1;
  border-radius: 0.4rem;
}
.aboutContainer .text .learning {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}
.aboutContainer .text .learning p {
  margin: 0 0.2rem;
  padding: 0;
}
.aboutContainer .text .learning p:last-child {
  padding: 1.1rem 2.2rem;
  background-color: #5821f1;
  border-radius: 0.4rem;
  font-weight: 600;
}
.educationContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.educationContainer h4 {
  margin-top: 5rem;
}

@media screen and (min-width: 650px) {
  .about {
    padding: 0 7rem;
  }
  .aboutContainer .image img {
    height: 30rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 10rem;
  }
  .aboutContainer .image img {
    height: 35rem;
  }
  .about h4 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
  .text p {
    font-size: 1.8rem;
  }
  .skills ul li {
    font-size: 1.8rem !important;
    width: 15rem !important;
  }
  .aboutContainer .text .learning p {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 860px) {
  .aboutContainer .image img {
    height: 35rem;
  }
}
@media screen and (min-width: 980px) {
  .aboutContainer {
    flex-direction: row;
  }
  .education {
    display: flex;
    justify-content: space-between;
  }
  .about h4 {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1050px) {
  .text p {
    font-size: 2rem;
  }
  .skills ul li {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 1600px) {
  .aboutContainer .image img {
    height: 45rem;
  }
}
